<div class="user-ul max-w-lg p-4 m-4 rounded-lg shadow-md">
  <h1 class="text-2xl text-orange-600">Edit User</h1>
  <input
    class="w-full border border-gray-300 rounded px-3 py-2 mb-3 mt-2"
    type="text"
    placeholder="enter name"
    name="name"
    [formControl]="name"
  />
  <br /><br />
  <input
    class="w-full border border-gray-300 rounded px-3 py-2 mb-3"
    type="text"
    placeholder="enter email"
    email="email"
    [formControl]="email"
  />
  <br /><br />
  <input
    class="w-full border border-gray-300 rounded px-3 py-2 mb-3"
    type="text"
    placeholder="enter age"
    age="age"
    [formControl]="age"
  />
  <br /><br />
  <button class="bg-orange-400 p-1 text-white rounded-xs m-1 mt-0 cursor-pointer" (click)="editUser()">
    Updatet User
  </button>
</div>
